@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto+Mono&display=swap');

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

body{
  padding: 50px;
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0 auto;
}

#parent {
  height: 50px;
  white-space: nowrap;
  overflow: hidden; 
  font-family: 'Source Code Pro', monospace;  
  font-size: 34px;
  color: rgb(0, 0, 0);
  position: relative;
}

#border {
  border-bottom: solid 3px rgba(0,255,0,.75);
  position: absolute;
  right: -7px;
  width: 20px;
}

/* Animation */
#parent {
  animation: animated-text 1.5s steps(30,end) 1s 1 normal both
}

#border {
   animation: animated-cursor 800ms steps(30,end) infinite;
}

/* text animation */
@keyframes animated-text{
  from{width: 0;}
  to{width: 450px;}
}

/* cursor animations */
@keyframes animated-cursor{
  from{border-bottom-color: rgba(0,255,0,.75);}
  to{border-bottom-color: transparent;}
}